<nav>
    <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text"><a href="/">MockX</a> </li>
        <li><input type="search"  placeholder="Search for brand, color, etc."></li>
        <li><input type="submit" class='hollow button search' value="Search"></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#"><button class='button success'>Sell</button></a></li>
      </ul>
    </div>
  </div>
</nav>
