<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head.ejs')  %> 
   <title>Edit Item</title>
</head>
<body>
   <%- include('../partials/nav.ejs') %>  
   <div class="grid-container full newGrid">
      <form class='formDiv' action='/<%= product._id %>?_method=PUT' method='POST' enctype='multipart/form-data'>
         <div class="grid-x grid-padding-x">
            <h1 id='sellItem'>Edit Item</h1>
            <div class="medium-12 cell">
               <label>
                  Name
               <input type="text" placeholder="Product Name" name='name'>
               </label>
            </div>
            <div class="medium-12 cell">
               <label>
                  Price: 
                  <input type="number" placeholder="$0.00" name='price'>
               </label>
            </div>
            <div class="medium-12 cell">
               <label>
                  Stock 
                  <input type="number" placeholder="Qty" name='qty'>
               </label>
            </div>
            <div class="medium-12 cell">
               <label>
                  Brand 
                  <input type="text" placeholder="Jordan, Nike, Yeezy, Adidas, etc..." name='brand'>
               </label>
            </div>
            <div class="medium-12 cell">
               <label>
                  Type 
                  <input type="text" placeholder="Jordan(4,11...), Yeezy(700, 350...) etc..." name='subtype'>
               </label>
            </div>

            <div class="medium-12 cell">
               <label>
                  Image: 
                  <input type="file" name="img" id="">
               </label>
            </div>
            <div class="medium-12 cell">
               <label>
                  Description
                  <textarea name="description" id="" cols="30" rows="4"></textarea>
               </label>
            </div>
         </div>
         <input type="submit" value="Submit" class='submitBtn button'>
   </form>
</div>
</body>
</html>