body{
    width: 100vw
}
/* NAVBAR */
nav{
    width: 100%;
    position: fixed;
    top: 0;
    line-height: 1.2em;
    z-index: 1;
}

.top-bar{
    height: 75px
}

.top-bar > .top-bar-left{
    height: 50px
}

.top-bar > .top-bar-right{
    height: 50px
}

/* INDEX */
.grid-container{
    margin-top: 30px;
}

.card {
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a > img {
    height: 275px;
    width: 100%

}
.menu-text > a{
    color: #3adb76
}

span{
    margin: auto;
    color: #1779ba
}

.card:hover{
    opacity:90%;
}

/* SHOW */
.breadcrumbs{
    padding-left: 30px;
}
.showContainer{
    margin-top: 7em;
}

.showImg{
    width: 50%
}

.textBlock{
   width:40%;
   position: absolute;
   top: 275px;
   right: -3.2em
}

.showDescription{
   text-align: center;
   width: 100%;
   margin: 50px;
   font-size: 18px;
}

.price, .stock{
    font-size: 25px;
    font-weight: bold
}

.productPrice{
    color: #3adb76
}

.productStock{
    color: rgb(248, 46, 46)
}

#brandLogo{
    display: flex;
    justify-content: center;
    margin: 120px 30%;
    width: 40%;
    height: 25em;
}

/* NEW */

.formDiv{
    margin: 10% 0 0 5%;
    position: absolute;
    left: 20%;
    border: 1px solid gray;
    background: lightgray;
    width: 50%;
    padding: 20px
}

