.button{
    border-radius: 5px;

}

/* NAVBAR */
nav{
    width: 100%;
    height: 35px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#appLogo{
    position: relative;
    top: -10px;
    left: 15px
}

#sellBtn{
    position: relative;
    top: -10px;
    right: 15px;
    border-radius: 5px;
}

.top-bar{
    padding-top: 15px
} 

.userGreeting{
    text-transform: capitalize;
    margin-right: 7px
}

.signupLink{
    margin-right: 20px
}


i{
    color: #1779ba;
    margin: 7px -10px
}
.logout{
    margin: -22px 30px 0px 0px;
}
/* INDEX */
.grid-container{
    margin-top: 50px;
}

.card {
    margin-top: 70px;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a > img {
    height: 275px;
    width: 100%

}
.menu-text > a{
    color: #3adb76
}

span{
    margin: auto;
    color: #1779ba
}

.card:hover{
    opacity:90%;
}

/* SHOW */

.breadcrumbs{
    padding-left: 30px;
}
.showContainer{
    margin-top: 7em;
}

.showImg{
    width: 50%
}

.textBlock{
   width:40%;
   position: absolute;
   top: 275px;
   right: -3.2em
}

.showDescription{
   text-align: center;
   width: 100%;
   margin: 50px;
   font-size: 18px;
}

.price, .stock{
    font-size: 25px;
    font-weight: bold
}

.productPrice{
    color: #3adb76
}

.productStock{
    color: rgb(248, 46, 46)
}

#brandLogo{
    display: flex;
    justify-content: center;
    margin: 120px 30%;
    width: 40%;
    height: 25em;
}

/* NEW */

.formDiv{
    margin: 5% 0 0 5%;
    position: absolute;
    left: 27%;
    border: 1px solid gray;
    background: #e6e6e6;
    width: 40%;
    padding: 20px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submitBtn{
    margin: 15px 40%;
    font-size: 1em
}

#sellItem{
    margin-left: 32%
}

/* Signup */
.signupDiv{
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: none;
    background: #e6e6e6;
    width: 25%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#signUp{
    margin: 10px auto;
    text-align: center;
}
#submitBtn{
    width: 50%;
    margin: 0 auto;
    border-radius: 10px
}



/* Login */

.loginDiv{
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: none;
    background: #e6e6e6;
    width: 25%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginDiv > h1 {
    text-align: center
}

/* Small Media */
@media (max-width: 720px){
    .top-bar-left, .top-bar-right{
        display: flex;
        justify-content: center;
        width: 100%
    }
    .top-bar-right{
        margin-left: 20px
    }
   #appLogo{
       margin-left: 30%
   }
   .input-group{
       margin-left: 20%
   }

   .grid-container{
       margin-top: 20%;
   }
   .showContainer{
       margin-top: 50%
   }
}