
/* NAVBAR */
nav{
    width: 100%;
    height: 35px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#appLogo{
    position: relative;
    top: -10px;
    left: 15px
}

#sellBtn{
    position: relative;
    top: -10px;
    right: 15px
}

.top-bar{
    padding-top: 15px
} 

/* .top-bar > .top-bar-left{
    height: 50px
}

.top-bar > .top-bar-right{
    height: 50px
} */ */

/* INDEX */
.grid-container{
    margin-top: 30px;
}

.card {
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a > img {
    height: 275px;
    width: 100%

}
.menu-text > a{
    color: #3adb76
}

span{
    margin: auto;
    color: #1779ba
}

.card:hover{
    opacity:90%;
}

/* SHOW */
.breadcrumbs{
    padding-left: 30px;
}
.showContainer{
    margin-top: 7em;
}

.showImg{
    width: 50%
}

.textBlock{
   width:40%;
   position: absolute;
   top: 275px;
   right: -3.2em
}

.showDescription{
   text-align: center;
   width: 100%;
   margin: 50px;
   font-size: 18px;
}

.price, .stock{
    font-size: 25px;
    font-weight: bold
}

.productPrice{
    color: #3adb76
}

.productStock{
    color: rgb(248, 46, 46)
}

#brandLogo{
    display: flex;
    justify-content: center;
    margin: 120px 30%;
    width: 40%;
    height: 25em;
}

/* NEW */

.formDiv{
    margin: 10% 0 0 5%;
    position: absolute;
    left: 20%;
    border: 1px solid gray;
    background: #e6e6e6;
    width: 50%;
    padding: 20px
}

.submitBtn{
    margin: 15px 40%;
    font-size: 1em
}

/* Signup */
.signupDiv{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: 1px solid gray;
    background: #e6e6e6;
    width: 25%;
    padding: 20px
}
#signUp{
    margin-top: 7%;
    text-align: center
}
#submitBtn{
    width: 50%;
    margin: 0 auto
}

/* Login */

.loginDiv{
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: 1px solid gray;
    background: #e6e6e6;
    width: 25%;
    padding: 20px
}

.loginDiv > h1 {
    text-align: center
}